<nav
  id-="navbar2"
  class="navbar navbar-expand-lg position-fixed top-0 w-100 py-3 my-nav2"
>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img
        src="./assets/images/logo.jpg"
        width="50px"
        class="rounded-circle"
        alt="logo image"
      />
      <b class="mx-1">{{ "navbar.pen" | translate }}</b>
      <b><i class="fa-brands fa-d-and-d"></i> </b>
      <b class="mx-1">{{ "navbar.pepar" | translate }}</b>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      #navbarSupportedContent
      class="collapse navbar-collapse justify-content-end align-items-center"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-light"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-regular fa-face-smile text-primary-emphasis"></i
            ><i class="fa-regular fa-face-smile text-danger-emphasis mx-1"></i>
          </a>
          <ul class="dropdown-menu text-center">
            <li (click)="closeIteamModal()" (click)="boy()">
              <a
                class="dropdown-item bg-primary-subtle text-primary-emphasis"
                >{{ "navnode.Boy" | translate }}</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li (click)="closeIteamModal()" (click)="girl()">
              <a class="dropdown-item bg-danger-subtle text-danger-emphasis">{{
                "navnode.Girl" | translate
              }}</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-light"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ "navnode.Lang" | translate
            }}<i class="fa-solid fa-language mx-1 text-main"></i>
          </a>
          <ul class="dropdown-menu text-center">
            <li
              (click)="closeIteamModal()"
              (click)="lang('ar')"
              [class.bg-success-subtle]="_TranslateService.currentLang == 'ar'"
            >
              <a class="dropdown-item text-main">{{
                "navnode.Arabic" | translate
              }}</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li
              (click)="closeIteamModal()"
              (click)="lang('en')"
              [class.bg-success-subtle]="_TranslateService.currentLang == 'en'"
            >
              <a class="dropdown-item text-main">{{
                "navnode.English" | translate
              }}</a>
            </li>
          </ul>
        </li>
        <li
          (click)="closeIteamModal()"
          class="nav-item bg-danger-subtle rounded-3 text-center w-100"
        >
          <a (click)="logout()" class="nav-link text-main">{{
            "navnode.Logout" | translate
          }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
